@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --default-font-family: var(--font-sans) !important;
}

.no-underline a {
  text-decoration: none !important;
}

h1 {
  font-size: 48px !important;
  font-weight: 500 !important;
  margin-bottom: 1rem !important;
}

body {
  padding: 0 !important;
}

.theme > article > * {
  position: relative;
}
